@import "https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap";
*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 40px 160px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@media only screen and (max-widhth: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    padding: 30px 40px;
    margin: 0 auto;
  }
}
.header {
  background-color: #131212;
}
.header__bar {
  display: none;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 34px;
}
.header__link {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.header__link:hover {
  color: #d87d4a;
  transition: all 0.8s linear;
}
@media only screen and (max-width: 768px) {
  .header__bar {
    display: block;
  }
  .header__navbar {
    gap: 100px;
    padding-bottom: 20px;
  }
  .header__list {
    display: none;
  }
}
.intro {
  background-color: #131212;
}
.intro__wrapper {
  display: flex;
  align-items: center;
  gap: 150px;
}
.intro__product {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.intro__title {
  max-width: 400px;
  padding: 24px 0;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.intro__text {
  padding-bottom: 60px;
  max-width: 350px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.intro__btn {
  background: #bf6530;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.intro__btn:hover {
  background: #fbaf85;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .intro__wrapper {
    flex-direction: column;
    gap: 0;
    background-image: url(/rasmlar/noushnik.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .intro__right {
    display: none;
  }
  .intro__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .intro__product {
    font-size: 14px;
    line-height: 19px;
  }
  .intro__title {
    max-width: 377px;
    font-size: 50px;
    line-height: 50px;
  }
  .intro__text {
    max-width: 340px;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 40px;
  }
}
.headphone {
  background-color: #fff;
}
.headphone__cards {
  display: flex;
  gap: 30px;
  padding-top: 200px;
}
.headphone__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  height: 204px;
  background: #f1f1f1;
  border-radius: 8px;
}
.headphone__img {
  position: relative;
  top: -60px;
}
.headphone__title {
  padding-bottom: 15px;
  max-width: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000;
}
.headphone__box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.headphone__text {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  .headphone__cards {
    padding-top: 90px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .headphone__card {
    max-width: 230px;
    padding: 50px;
  }
  .headphone__title {
    width: 110px;
    font-size: 15px;
    line-height: 20px;
  }
  .headphone__text {
    font-size: 13px;
    line-height: 18px;
  }
}
.speaker {
  background-color: #fff;
}
.speaker__wrapper {
  width: 1110px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #d87d4a;
  border-radius: 8px;
}
.speaker__right {
  max-width: 350px;
}
.speaker__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.speaker__text {
  padding: 24px 0 40px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.speaker__btn {
  background-color: #000;
}
.speaker__btn:hover {
  background: #4c4c4c;
}
@media only screen and (max-width: 768px) {
  .speaker__wrapper {
    position: relative;
    right: 120px;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    width: 680px;
    height: 720px;
  }
  .speaker__text {
    font-size: 15px;
    line-height: 25px;
  }
  .speaker__img {
    width: 200px;
  }
}
.spaeker-table {
  background-color: #fff;
}
.spaeker-table__wrapper {
  background-image: url(/rasmlar/speaker__Bitmap.png);
  background-size: cover;
  width: 1110px;
  height: 320px;
  border-radius: 10px;
}
.spaeker-table__left {
  max-width: 204px;
  padding: 100px;
}
.spaeker-table__title {
  padding-bottom: 40px;
  max-width: 204px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .spaeker-table__wrapper {
    position: relative;
    right: 120px;
    bottom: 100px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 680px;
    height: 320px;
    border-radius: 10px;
  }
}
.airpodd {
  background-color: #fff;
}
.airpodd__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1110px;
}
.airpodd__right {
  width: 560px;
  padding: 101px 198px 101px 95px;
  background: #f1f1f1;
  border-radius: 8px;
}
.airpodd__title {
  margin-bottom: 64px;
  width: 245px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}
.airpodd__btn {
  padding: 15px 30px;
  border: 1px solid gray;
  text-transform: uppercase;
}
.airpodd__btn:hover {
  background: #000;
  border: 1px solid #000;
  transition: all 1s ease;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .airpodd {
    display: none;
  }
  .airpodd__wrapper {
    position: relative;
    right: 120px;
    bottom: 100px;
    gap: 11px;
    max-width: 680px;
  }
  .airpodd__right {
    padding: 100px 50px;
  }
  .airpodd__left {
    background-image: url(/rasmlar/airpods.png);
  }
  .airpodd__img {
    display: none;
  }
}
.bring {
  background-color: #fff;
}
.bring__wrapper {
  display: flex;
  align-items: center;
  gap: 125px;
  margin: 100px 0;
}
.bring__title {
  font-family: sans-serif;
  width: 445px;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000;
}
.bring__coral {
  color: #d87d4a;
}
.bring__text {
  padding-top: 35px;
  width: 450px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.bring__img {
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .bring__wrapper {
    position: relative;
    bottom: 150px;
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 0;
  }
  .bring__img {
    width: 680px;
    height: 400px;
  }
  .bring__left {
    width: 573px;
    text-align: center;
  }
  .bring__text {
    width: 573px;
  }
  .bring__title {
    width: 550px;
  }
}
.footer {
  background-color: #131212;
}
.footer__navbar {
  border: none;
}
.footer__content {
  display: flex;
  gap: 470px;
}
.footer__text {
  width: 540px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.footer__media {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 70px;
}
.footer__copyright {
  padding-top: 60px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  .footer__wrapper {
    position: relative;
    right: 100px;
    display: flex;
    flex-direction: column;
  }
  .footer__navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__list {
    display: flex;
    margin-top: -62px;
  }
  .footer__text {
    width: 580px;
  }
  .footer__content {
    gap: 0px;
  }
  .footer__media {
    position: relative;
    top: 105px;
    left: 230px;
  }
}
.header__title {
  padding: 100px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #fff;
}
.mark {
  background-color: #fff;
  padding-top: 100px;
}
.mark__wrapper {
  display: flex;
  align-items: center;
  gap: 125px;
}
.mark__column {
  display: flex;
  align-items: center;
  gap: 125px;
}
.mark__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 540px;
  background: #f1f1f1;
  border-radius: 8px;
}
.mark__product {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
}
.mark__title {
  padding: 16px 0 32px 0;
  max-width: 445px;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000;
}
.mark__text {
  max-width: 450px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-bottom: 40px;
}
.mark__box {
  display: flex;
  gap: 30px;
}
.mark__number {
  padding-bottom: 47px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .mark__wrapper {
    flex-direction: column;
    gap: 52px;
  }
  .mark__column {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    gap: 52px;
  }
  .mark__left {
    width: 680px;
  }
  .mark__right {
    width: 570px;
    text-align: center;
  }
  .mark__title {
    max-width: 570px;
  }
  .mark__text {
    max-width: 570px;
  }
}
.features {
  background-color: #fff;
}
.features__wrapper {
  display: flex;
  gap: 125px;
}
.features__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #000;
}
.features__text {
  max-width: 635px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.features__box {
  display: flex;
  gap: 20px;
  padding-top: 8px;
}
.features__coral {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #d87d4a;
}
@media only screen and (max-width: 768px) {
  .features__wrapper {
    position: relative;
    right: 120px;
    flex-direction: column;
    gap: 100px;
    width: 680px;
  }
}
.images {
  background-color: #fff;
}
.images__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.images__left {
  background-image: url(/rasmlar/bring__Bitmap.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images__img {
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .images {
    display: none;
  }
  .images__wrapper {
    width: 680px;
  }
}
.also {
  background-color: #fff;
}
.also__wrapper {
  text-align: center;
}
.also__cards {
  display: flex;
  gap: 30px;
}
.also__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.also__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 320px;
  background: #f1f1f1;
  border-radius: 8px;
}
.also__titles {
  margin: 160px 0 64px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #000;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .also__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .also__cards {
    gap: 11px;
    align-items: center;
  }
  .also__card {
    width: 223px;
    height: 320px;
  }
}
.row {
  display: flex;
  gap: 125px;
}
.row__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 540px;
  background: #f1f1f1;
  border-radius: 8px;
}
.row__right {
  width: 340px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row__title {
  padding: 16px 0 32px 0;
  max-width: 445px;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000;
}
.row__text {
  max-width: 450px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-bottom: 40px;
}
.row__product {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
}
.row__number {
  padding-bottom: 47px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000;
}
.row__box {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    gap: 70px;
  }
  .row__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 480px;
    background: #f1f1f1;
    border-radius: 8px;
  }
  .row__img {
    width: 180px;
  }
  .row__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 340px;
    text-align: start;
  }
  .row__title {
    width: 200px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
  }
  .row__text {
    width: 340px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .row__product {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 8.57143px;
    text-transform: uppercase;
    color: #d87d4a;
  }
  .row__number {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000;
  }
  .row__box {
    display: flex;
    gap: 15px;
  }
} /*# sourceMappingURL=main.css.map */
