.airpodd {
  background-color: #fff;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1110px;
  }

  &__right {
    width: 560px;
    padding: 101px 198px 101px 95px;

    background: #f1f1f1;
    border-radius: 8px;
  }

  &__title {
    margin-bottom: 64px;
    width: 245px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #000000;
  }

  &__btn {
    padding: 15px 30px;

    border: 1px solid grey;
    text-transform: uppercase;

    &:hover {
      background: #000000;
      border: 1px solid #000000;
      transition: all 1s ease;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 768px) {
  .airpodd {
    display: none;
    &__wrapper {
      position: relative;
      right: 120px;
      bottom: 100px;
      gap: 11px;
      max-width: 680px;
    }

    &__right {

      padding: 100px 50px;
    }
    &__left {
      background-image: url(/rasmlar/airpods.png);
    }

    &__img
    {
      display: none;
    }
  }
}
