.features {
  background-color: #fff;

  &__wrapper {
    display: flex;
    // align-items: center;
    gap: 125px;
  }
  &__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */

    letter-spacing: 1.14286px;
    text-transform: uppercase;

    color: #000000;
  }
  &__text {
    max-width: 635px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  &__box {
    display: flex;
    gap: 20px;
    padding-top: 8px;
  }
  &__coral {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #d87d4a;
  }
}
