.images
{
    background-color: #fff;

    &__wrapper
    {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__left
    {
        background-image: url(/rasmlar/bring__Bitmap.png);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__img
    {
        border-radius: 10px;
    }
}
@media only screen and (max-width:768px){
  .images{
    display: none;

    &__wrapper
    {
        width: 680px;
    }
  }
}